---
import { Icon } from 'astro-icon/components';
---

<footer class="w-full">
    <div class="flex flex-col justify-center items-center text-center h-96">
        <div><h3 class="font-staatliches text-3xl">SÍGUEME</h3></div>
        <div class="social-media flex my-10">
            <a href=""><Icon name="mingcute:github-line" class='w-14 h-14 text-black stroke-orange-1 bg-white p-1'/></a>
            <a href=""><Icon name="ri:twitter-x-line" class='w-14 h-14 text-black stroke-orange-1 mx-12 bg-white p-1'/></a>
            <a href=""><Icon name="ri:linkedin-fill" class='w-14 h-14 text-black stroke-orange-1 bg-white p-1'/></a>
        </div>
        <div class="copyright">
            <p class="font-satoshi-medium flex justify-center items-center mb-2 text-lg">Hecho con <Icon name="mdi:heart" class="color-soft-orange w-6 h-6 mx-2"></Icon> por Javier Pérez</p>
            <p class="font-satoshi-bold text-xl">Todos los derechos reservados &copy; 2025</p>
        </div>
    </div>
</footer>

<script>

</script>